
// primary

$green: #82bc41;

// secondary print

//cmyk(90%,25%,3%,5%)
$print-blue: #18b6eb;
//cmyk(7%,13%,100%,0%)
$print-yellow: #edde00;
//cmyk(7%,6%,10%,0%)
$print-white: #edf0e6;

// secondary web

$web-black: #66645e;
$web-dark-gray: #a09d95;
$web-gray: #c8c4b6;
$web-light-gray: #eae6da;
$web-white: #f4f1e9;
$web-dark-blue: #485b5b;
$web-blue: #93b1b8;
$web-light-blue: #acc0c1;

